<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>Car and Driver Scraper</title>
  </head>

  <body>
    {{{ body }}}
  </body>

</html>